.about-container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.about-container h1 {
  font-size: 36px;
   color: orange;
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  color: #333;
  line-height: 1.7;
  margin-bottom: 20px;
}
/* Mobile devices */
@media (max-width: 768px) {
  /* Example: reduce padding and font sizes on mobile */
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}