.footer {
  background: #e63946;
  color: white;
  padding: 30px 0 10px;
  margin-top: 50px;
  text-align: center;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  text-align: center;
}

.footer-left h3 {
  margin-bottom: 10px;
}

.footer-left p {
  max-width: 250px;
  line-height: 1.4;
}

.footer-center h4,
.footer-right h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center li {
  margin: 6px 0;
}

.footer-center a {
  color: white;
  text-decoration: none;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 20px;
  padding-top: 10px;
}
.footer-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-social a {
  font-size: 34px;      
  color: white;
  transition: 0.25s ease-in-out;
}

.footer-social a:hover {
  color: #ffe6e6;
  transform: scale(1.25);  
}

@media (max-width: 768px) {
  
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 30px 20px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
  }

  .footer-social a {
    font-size: 30px;
  }
}
